.myHead{
	background: #337AB7;
	border-bottom: 3px solid #02569F;
	color: #fff;
	padding: 15px 0;
	margin-bottom: 30px;
}

.footer{
	margin-top: 20px;
	background: #337AB7;
	padding: 15px 0;
	color: #fff;
}